server {
    listen 80;
    server_name {{ domain_name }} www.{{ domain_name }};

    location / {
        proxy_pass http://localhost:{{ app_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    access_log /var/log/nginx/{{ domain_name }}_access.log;
    error_log /var/log/nginx/{{ domain_name }}_error.log;
alias ssh_docker="ssh -i ~/.ssh/azure_docker.pem docker@104.42.130.238"
}
